<div class="todos-wrapper">

    <div class="container">

        <div class="todo-item completed">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">this is the todotext</p>
        </div>

        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti obcaecati illum harum incidunt esse. Temporibus, est ea? In cum accusantium dicta! Ducimus dolorum nihil molestiae quia a omnis delectus laborum!</p>
        </div>

    </div>
</div>